[2012-05-29 14:04] lgwapnitsky opened #1 "tnefparse utility issue"
tried running the tnefparse utility prior to including this in my own script, but am receiving the following errors:

[/home/lwapnitsky/git/tnefparse]% tnefparse                                                                                                                                        (10:02 - 12-05-29)
Traceback (most recent call last):
  File "/usr/local/bin/tnefparse", line 9, in <mo

[2012-08-16 06:48] #1 closed, assigned to petri

[2014-04-24 09:00] guettli opened #5 "WARNING Unknown TNEF Object"
thank you for this library.

All works well.

But we get these warning messages.

Are this really warnings? What can we do to suppress these warnings?

Maybe it is not important and no logging in tnefparse would be the best solution.

[code]

[2014-11-26 10:51] guettli opened #7 "tnef_attachement.name is not unicode"
I get a UnicodeError in my application code, because tnef_attachement.name is not unicode.

Could the tnef library get updated, to make tnef_attachement.name a unicode string?

In my case it looks like a latin1 string. It would improve the usability of the library if the application programmer does not need to do string decoding.

Sorry, I can't post the tnef binary, since it is from a customer.

[2017-04-05 12:15] plq commented on #7
fixed in 59dbf77a88476c6222fd1eeb78fe15768a6a554c

[2017-04-06 14:33] guettli commented on #7
Unfortunately I don't have the matching test here to proof if the patch solves this issue.

I trust you and I think this issue can be closed.

Should I close it?

[2017-04-07 12:41] plq commented on #7
I'm not in position to make that decision.

[2017-04-12 07:15] tonyandrewmeyer opened #11 "Push new version to PyPI"
Hi! Thanks for building this library; it's very handy :smile:.

Do you think that you'd be able to push a new build to PyPI? It would be get to be able to `pip install` (without linking to a GitHub revision) the code that has the latest fixed.

[2017-08-07 05:52] dgouldin opened #13 "decode_mapi exception"
When using `decode_mapi`, I get the following error with the logger level set to `DEBUG`:

`'int' object has no attribute '__getitem__'`

After poking at the source to prevent it swallowing the stack trace of the error, it looks as though it's coming from:

https://github.com/koodaamo/tnefparse/blob/137e7d23a3bfa80296504c4f41f9b1471d686b96/tnefparse/mapi.py#L81

(That makes sense to me, given that

[2017-08-14 17:53] petri commented on #13
Can you share the TNEF file you are using that produces this logger debug error?

[2017-09-08 09:25] TZanke opened #14 "TNEFMAPI_Attribute for attachment content-id"
in Mail HTML embedded images are references by content-id. At the moment i could not find this value by TNEFMAPI_Attribute class. So i searched in the mapi_attrs. The content-id attribute has the name '14098' => 0x3712

Should 0x3712 added to the TNEFMAPI_Attribute class?

[2017-09-13 04:44] petri commented on #14
Sounds ok. Could you provide a pull request with a link pointing to relevant documentation?

[2017-11-03 11:47] nikiladonya commented on #13
@petri  Hello, file called "two-files.tnef" in your tests raise this error (3 python)

[2017-11-03 20:43] petri commented on #7
Please, if you can, provide a PR.

[2017-11-03 21:04] petri commented on #13
@nikiladonya can you provide example code to raise the error?

[2018-02-08 06:28] dugite-code opened #16 "Cannot pull ics file"
Python: 3.5.3
tnefparse installed from pip
Windows 10

I'm trying to parse a winmail.dat file from a appointment invite email. Using lookout (fix version) in thunderbird I can see a rtf file, the ics file and a vcf file. Using:

[code]

I get this output:
[code]

It looks like the calendar is being parsed as TNEF Objects. Any advice?

[2018-03-01 20:00] petri commented on #13
This should now be fixed in master.

[2018-03-01 20:03] petri commented on #7
Note: master now strips null bytes from long_filename as well.

[2018-03-02 09:44] petri opened #18 "improve (fix) tnefparse logging"
Currently, logging in tnefparse is a bit of a mess and should be improved.

This issue is to gather input for that. If you don't like how tnefparse logs warnings etc. please submit a proposal under this issue.

[2018-03-02 09:45] petri commented on #5
Thanks for bringing this up. Logging in tnefparse is something that should be improved. I've added a new issue #18 for this. I'd be grateful for your input there.

[2018-03-02 09:45] #5 closed

[2018-03-02 09:48] petri commented on #7
The encoding of tnef attachment (long) names is a bit tricky to get right, it's not exactly simple.

See for example the discussion at https://github.com/roundcube/roundcubemail/issues/5646 .

If you have good understanding of how the encodings in tnef attachments work or any links to information, that would help.

[2018-03-02 09:55] petri commented on #14
How is this different from MAPI_CONTENT_IDENTIFIER (0x0008) ?

[2018-03-02 10:02] petri commented on #16
Is that all the output you got? Your code should show the attachment names as well.

If not, can you share your winmail.dat file here so that I could take a look?

What it comes to the warnings, well, tnefparse logging is a bit of a mess, please see #18. If you can add some suggestions there, it'd be helpful.

[2018-03-02 10:04] petri commented on #14
Looks like the definition for 0x3712 is here: https://msdn.microsoft.com/en-us/library/office/cc765868.aspx

[2018-03-02 10:13] #13 closed

[2018-03-02 10:16] petri commented on #13
By the way, the debug code is really old and should be cleaned. It is very possible that setting log level to DEBUG exposes some bugs in debugging parts of the code itself. If you find an issue that is an actual problem for you, please submit a new issue.

[2018-03-02 10:28] petri commented on #7
Note: we should also consider how this is to work on Python2 vs. Python3 (with help of six?)

[2018-03-02 12:56] TZanke commented on #14
I created this file last summer with Outlook 2010 / Microsoft Outlook 14.0 as a test file for special chars and attachments.
[winmail.dat.zip](https://github.com/koodaamo/tnefparse/files/1775119/winmail.dat.zip)

At the moment i use the `14098`  to get the content id `image003.jpg@01D2EE6A.85652C70`

[2018-07-23 13:54] TZanke opened #20 "speed bottleneck within decode_mapi"
Hello,

today i had a problem with a customer tnef mail. It took around 150ms to call `decode_mapi`. Because it is called several times within tnefparse and within my code, it took around 2500ms to handle a request to this file.

I searched for the bottleneck with cProfile and found the problem:

In `decode_mapi` the var `num_vals` is a int bigger then several millions. Python will generate a list

[2018-07-23 14:14] TZanke commented on #20
I do not know how you handle python2/3 compatibility, so i do not implement a patch atm.

http://python-future.org/compatible_idioms.html#xrange

[2018-08-23 13:15] cosmingrz opened #21 "Using `range` in Python 2 causes memory issues"
While parsing some corrupted TNEF files the code below can hang and use large amounts of memory:
[code]

In my example `num_vals` is for some reason  `3666903040` and the parser is using large amounts of memory until statement is evaluated. On other machines with low ammount of RAM, parser just raises `MemoryError` after a while.

The solutuion would be to use `xrange` for those loops  if the scri

[2018-10-31 16:47] mlaferrera commented on #11
Any word on when this can happen? The master branch has plenty of fixes that would be useful.

[2018-11-14 20:34] petri commented on #11
done

[2018-11-14 20:34] #11 closed

[2018-11-14 21:15] petri commented on #21
Cherry-picked the switch to xrange on Python2.

[2018-11-17 06:39] jrideout commented on #20
This was fixed in 0898eb8

[2018-11-17 11:45] petri commented on #20
thx @jrideout

[2018-11-17 11:45] #20 closed

[2018-11-19 19:03] #21 closed

[2018-11-27 09:11] TZanke opened #24 "nullbytes in data"
I try to get some tnef data information, but atm i have to remove nullbytes by myself.
Is there a other way to get the same information without nullbytes, or is this is a bug?

      for tnef_attachment in tnef.attachments:
                for mapi_attr in tnef_attachment.mapi_attrs:
                    if mapi_attr.name == tnefparse.TNEFMAPI_Attribute.MAPI_ATTACH_MIME_TAG:

[2018-11-27 10:50] petri commented on #24
Is this on PyPI release or current master?

[2018-11-28 06:24] jrideout opened #26 "Parse RTF attachments/bodies"
- [x] Extract rtfbody (#30)
- [x] Add CLI support (#39)
- [ ] ~~Parse the rtf in some way, perhaps via an optional dependency.~~

[2018-11-28 06:31] jrideout commented on #18
In general the logging isn't so bad. The problem are the things like `WARNING  Unknown TNEF Object: <TNEFObject 'Message ID'>` that clutter things up and I think causes confusion (since this doesn't mean there is something wrong).

What we probably need to do is set all attributes we observe dynamically, not just the mapi attributes.

[2018-11-28 09:08] TZanke commented on #24
correction:
has traling null also in Ubuntu tested with master.

[tnef_with_umlaut.eml.zip](https://github.com/koodaamo/tnefparse/files/2623671/tnef_with_umlaut.eml.zip)

[2018-11-28 11:53] petri commented on #18
I removed some of those more or less unnecessary warnings. Let's close this, we can reopen if needed.

[2018-11-28 11:53] #18 closed

[2018-11-28 11:54] petri commented on #26
What does this mean exactly?

[2018-11-28 23:29] jrideout commented on #26
The one thing I'm not certain about is if we need to decompress the rtf, or if the rtf data is valid even when compressed. https://github.com/delimitry/compressed_rtf seems to do what we need to just decompress the data without fully parsing it.

[2018-11-29 06:47] jrideout opened #32 "Inconsistent line endings"
Can we adopt some code standards?

In particular I'd like to suggest:
 - unix line endings are used consistently
 - 4 spaces for the default indent

More aggressively we could use something like `black` to auto-format the style.

[2018-11-29 06:50] jrideout commented on #14
This was fixed in b21d36e189e590c7cb44e204e75bed49e08764f4

[2018-11-29 06:52] jrideout commented on #7
This should be addressed by #31

[2018-11-29 06:55] petri commented on #14
@TZanke see above comment. Closing.

[2018-11-29 06:55] #14 closed

[2018-11-29 06:56] petri commented on #32
Absolutely. The codebase is really old, originally a quick & dirty conversion from Ruby code with not much thought given to code quality at that time.

[2018-11-29 07:06] #24 closed

[2018-11-29 07:06] #7 closed

[2018-11-29 07:48] petri opened #33 "switch to "plain" pytest"
We have old pytest integration with a setup.py subcommand and a versioned "runtests.py". This is deprecated and giving some trouble on Python2.

Suggest we remove this and just use pytest from now on.

[2018-11-29 08:52] petri opened #34 "Deprecate Python 2.6"
it's 2018. 'nuf said.

[2018-11-29 09:02] petri opened #35 "Deprecate Python 3.3"
Python 3.3 has reached end-of-life as per python.org. Drop support.

[2018-11-29 09:06] #34 closed

[2018-11-29 09:06] #35 closed

[2018-11-29 09:33] petri commented on #33
@jrideout switched to using pytest-runner. Local tests still runnable as `python setup.py test'.

btw there's also test coverage now at https://codecov.io/gh/koodaamo/tnefparse

[2018-11-29 09:39] petri commented on #26
Nice! That's a small dependency well worth it I'd think.

[2018-11-29 11:23] petri opened #36 "Make it possible to give cmdline a directory to extract attachments to"
This is mostly motivated by testing; it's rather annoying to always find the extracted files in the current directory.

Gonna reshuffle the cmdline params a bit for this; will use -o | --output as the param and make overview use -c | --contents from now on.

See tnefparse --help for revised usage.

[2018-11-29 11:55] petri commented on #36
Bah forgot -c was used for checksum. Keeping -o as is, using -p | --path for explicit output dir instead.

[2018-11-29 11:57] #36 closed

[2018-11-30 00:10] jrideout commented on #32
Fixed in #37

[2018-11-30 00:10] #32 closed

[2018-11-30 03:34] jrideout commented on #16
@dugite-code Do you still have any issues we can help you with?

[2018-11-30 03:45] jrideout commented on #33
This didn't work for me.

I had to install `pytest-console-scripts` too.

[2018-11-30 05:35] dugite-code commented on #16
Possibly not? The Thunderbird's lookout plugin did pull files out but it looks like it may have been a simple case of a corrupted file, a random zero width character was getting printed out in the [lookout logs](https://github.com/TB-throwback/LookOut-fix-version/issues/3) so that might have been the source of my issues.

![image](https://user-images.githubusercontent.com/12742064/43826865-fd4d582

[2018-11-30 05:35] #16 closed

[2018-11-30 09:39] petri opened #40 "util/raw_mapi is not used, deprecate?"
the `raw_mapi` function is not used by the code... @jrideout do you have any use for it? If you do, can you please suggest a simple test (w/ some input & output) to exercise it?

[2018-11-30 09:40] petri commented on #33
sorry, forgot to add that as a requirement somewhere... added it to setup_requires, too, for now.

[2018-11-30 09:40] #33 closed

[2018-11-30 15:13] jrideout commented on #40
Let's remove it

[2018-11-30 15:37] jrideout commented on #26
This does what I want for RTF parsing: https://gist.github.com/gilsondev/7c1d2d753ddb522e7bc22511cfb08676

[2018-11-30 19:06] petri commented on #26
Hm. I consider document format conversions to be outside the scope, but some limited use cases might fall on the borderline. If I may ask, what's the goal - just support extraction of plaintext words for indexing, or something else?

[2018-11-30 19:07] #40 closed

[2018-11-30 21:21] jrideout commented on #26
just that

I agree. Let's close stop here. Users can do their own RTF parsing if desired.

[2018-11-30 21:22] #26 closed

[2018-11-30 23:13] jrideout opened #43 "Release 1.3"
What needs to be done?

- Tag
- Publish to http://pypi.org

Anything else?

[2018-11-30 23:18] jrideout opened #44 "Should we rename PID_TAG_ constants?"
PidTag or PidLid are the naming conventions MS uses, so I used the same when adding a bunch of properties outside the core MAPI types.

I'm thinking though, we just call everything `MAPI_` for consistency. We'll want to decide this before publishing 1.3.

[2018-11-30 23:18] jrideout commented on #43
Blocked on #44

[2018-12-01 00:00] petri commented on #43
Update HISTORY

[2018-12-01 00:04] petri commented on #44
Stay consistent with the TNEF / MAPI docs (if feasible; I don't know if the docs themselves are consistent on this), and just add a comment pointing out that PidTag or PidLid are just MAPI types with a different naming convention?

Just a thought; no strong opinion either way.

[2018-12-01 00:07] jrideout commented on #44
To stay consistent we'd want to rename the _existing_  MAPI_* types to PID_TAG, which would probably break existing applications. Given that, I'm going to just cover it all to MAPI_ and then add a comment like you suggest.

[2018-12-01 04:32] #44 closed

[2018-12-01 11:11] petri commented on #44
I see. We can consider doing that in a controlled manner over a few releases at some later time I guess.

[2018-12-01 13:57] jrideout commented on #43
I added a few items, but otherwise I think we are good to release!

[2018-12-01 16:56] petri commented on #43
released 1.3.0

[2018-12-01 16:56] #43 closed

[2018-12-01 17:03] petri commented on #43
Oh and btw @jrideout thanks for the nice work!

[2018-12-01 17:13] petri commented on #26
I gave this some more thought. Conversions of tnef body content in general are out of scope of tnefparse.

But I am pretty sure I remember the RTF/HTML bodies are to some extent specific to the MS TNEF implementations, with some quirks and deviations. That makes me think extraction of plaintext could well be something that's within the scope.

So that can be revisited.

[2018-12-04 09:17] guettli commented on #7
thank you!

[2018-12-05 08:59] petri opened #50 "use type hints & mypy"
There's a lot of byte & string handling and so on that are easy to get wrong accidentally. Having some type hints and mypy checking them as part of tests would help catch errors & increase code quality.

[2018-12-05 15:33] jrideout commented on #50
👍 I actually tried to get this going a week or so a go. I struggled with the difference in types between py2 and py3. I think if we used the `future` shims consistently, we could get it to work. Unfortunately we are limited to using comment based type hints to maintain support for py2 and early py3 version. Also .pyi files cannot be used to validate the files they shadow.

FYI we are using this in

[2018-12-11 22:34] jrideout commented on #50
I have a typed version locally that was created with https://github.com/dropbox/pyannotate while running the tests. It gets us a lot of the way there. I should have some time in the next few weeks to come back to this, but if anyone else wants to try feel free. I do suggest the pyannotate approach.

[2019-03-06 15:33] ericavijay opened #51 "Logging logger not registered when used as module"
Looks like the tnef.py when not using command line but used as a library has not initiated logging with logging.basicConfig() so when I import it and there is any issue the logger throws an output like
No handlers could be found for logger "tnef-decode"

Recommended changes to init.py to initiate logging. It seems to happen only in cmline.py - useful only when using command line.  It will be helpf

[2019-07-30 04:31] skylord123 opened #52 "JSON dump fails on Windows"
I tried doing a JSON dump and I got this error:
[code]

I did a debug of the `ft`, `EPOCH_AS_FILETIME`, and `HUNDREDS_OF_NANOSECONDS` variables as well as the end result and here is the output:

[code]

So it looks like the `datetime.utcfromtimestamp` function can't take the value of `79870665600.0` which I was able to confirm on my local terminal:

[code]

Is the math just being done wrong on Win

[2019-07-30 04:35] skylord123 opened #53 "Filenames are truncated"
When you run with the `--attachments` argument the files are using the truncated name instead of the full name. This is a problem for my use case. Can we either get an option to use the long_filename or just make this the default?

In my example the filename was `decemberpermits14.pdf` but was being truncated to `decemb~1.pdf`.

Thanks!

[2019-08-02 13:53] Beercow commented on #53
Submitted a pull request to fix this. Try it and let me know if it works for you.

[2019-08-02 18:06] Beercow commented on #52
Can we get a fix for this. Not sure how you would like to handle it.
Date fields that do not have a value are arbitrarily given a value of 1/1/4501 and therefore cannot be empty.

https://docs.microsoft.com/en-us/previous-versions/office/developer/office-xp/aa155722(v=office.10)#odc_olcustfrm1_chooser

[2019-08-06 05:11] skylord123 commented on #53
Works perfectly. File names are no longer truncated.

Thanks for the quick help!

[2019-08-06 05:15] skylord123 commented on #53
I saw some extra commits on your pull request, are these an attempt to fix #52 ?

[2019-08-06 11:48] Beercow commented on #53
Yes. The other commits are to fix #52 also. I have tested this on Windows and python 2.7.15. I have not tested it with python 3.

[2019-11-10 20:01] petri commented on #51
Thanks. This should now be fixed so closing.

[2019-11-10 20:01] #51 closed

[2019-11-10 20:10] petri commented on #53
Thanks. PR merged.

[2019-11-10 20:10] #53 closed

[2019-11-10 20:10] petri commented on #52
Thanks. merged.

[2019-11-10 20:10] #52 closed

[2020-05-11 22:36] amit777 opened #57 "new release"
Hi there, first thank you for this incredibly useful tool.  I really love the JSON export feature but just realized it's not released in the main pip install.  Any tips on when to expect it?

[2020-05-12 05:38] amit777 opened #58 "modifying tnef file"
I was wondering if it would be feasible using this package to update the contents of TNEF file easily?  for example, just modifying the body html.

[2020-05-13 16:18] petri commented on #58
Nice idea. This package only does parsing so far. But if someone provides a clean PR that provides also modification support, I would be willing to accept it into tnefparse.

[2020-05-13 16:20] petri commented on #57
I will try to find some time to cut a release.

[2020-05-14 07:52] jugmac00 opened #59 "GitHub Action build for Python 2.7 broken"
https://github.com/koodaamo/tnefparse/runs/657046886

Looks like `mock` has to be pinned to `<= 3.0.5` as newer versions are Py3 only.

[2020-05-20 08:09] jugmac00 commented on #59
@petri It took me a while, but I found the reason.

The short version:
`setup_requires` is the problem. It is usually used to download packages, which are necessary already at install time, ie if you use e.g. `yaml` in your `setup.py` and need to parse it or so...

`setup_requires` has a fallback to use `easy_install` to download packages. `easy_install` is flawed and does not take care of the Pyt

[2020-05-22 08:19] Sam-Gracy opened #62 "TNEF is throwing an error for python version 3.7.3"
Hi Team,

Such a great and wonderful tool to parse TNEF files. I am using python 2.7 and it is working excellent, few days back I upgraded to 3.7.3 and I am seeing this exception.

Traceback (most recent call last):
  File "TNEFParser.py", line 99, in readTNEFFiles
    t = TNEF(open(filename).read(), do_checksum=True) ## filename is winmail.dat
  File "/usr/lib/python3.7/codecs.py", line 322, in d

[2020-05-22 09:19] Sam-Gracy commented on #62
Replaced t = TNEF(open(filename).read(), do_checksum=True)
With t = TNEF(open(filename, 'rb').read(), do_checksum=True) and the issue is fixed.

[2020-05-22 09:19] jugmac00 commented on #62
Hi @Sam-Gracy
I am not a member of the team, but found this great package recently and use it also on Python 3 - with no problems so far.

When I have a look at your code, I think the problem is not this library, but your call to open/read.

Update - oh well - you were faster :-D

[2020-05-22 10:29] #59 closed

[2020-05-22 10:35] petri commented on #62
I guess this can then be closed. Thanks @jugmac00 .

[2020-05-22 10:35] #62 closed

[2020-05-22 19:54] petri commented on #58
Closing, no need for further action.

[2020-05-22 19:54] #58 closed

[2020-05-25 09:45] jugmac00 opened #66 "Flake8"
Flake8 is currently only used in GitHub actions.

I'd like to introduce a `tox` environment for Flake8.

Currently, there would be 78 Flake8 errors when I apply very strict rules.

While the most errors are pretty straight forward to fix, before I start I both wanted to know your take on it in general and especially E221 (multiple spaces before operator).

E221 would mark following code as erroneo

[2020-05-25 13:52] petri commented on #66
I think E221 should be enforced, but not religiously. To me, the MAPI constants module is cleaner with the "column" - based approach. I think Flake8 had a way to exclude a whole module from a particular check such as this?

[2020-05-25 19:35] jugmac00 commented on #66
TIL: There is an option to ignore a specific violation per file, but not in the file itself, but via configuration - looks a bit clunky to me and it does not seem to be bug-free either https://gitlab.com/pycqa/flake8/-/issues/517

I'd prefer the line specific annotation.

[code]

[2020-05-26 14:51] #66 closed

[2020-06-16 13:46] Sam-Gracy opened #68 "crash with message "struct.error: unpack_from requires a buffer of at least 4 bytes""
Hi,

When I tr to extract the winmail.dat using the TNEF library I am seeing the below crash.
Could you please help me to have a look.

[code]

[2020-06-16 15:02] jugmac00 commented on #68
Hi @Sam-Gracy
while I am pretty sure, I am not familiar enough with the code base in order to fix your problem, let me try to ask the right questions, so e.g. @petri is maybe able to help you.

a) I edited your issue and surrounded the code with three backticks - so GitHub marks this as code block and makes it easier to read for all of us
b) When I have a look at the current `master` branch, the l

[2020-06-17 08:35] Sam-Gracy commented on #68
Thank you Jugmac00.

I am using the latest code and I can see the exact line numbers in file https://github.com/koodaamo/tnefparse/blob/master/tnefparse/util.py

![image](https://user-images.githubusercontent.com/65759805/84875218-4dd23100-b0a3-11ea-94b5-7876bbf59d2f.png)

I am sorry, I am not be able to share that file. If I able to reproduce it with any test file, I'll share it for sure.

Thank

[2020-06-17 19:11] petri commented on #68
So it seems that a bigger unpack `structure` is defined than what's passed as `byte_arr` (or part of `byte_arr` starting from `offset`. Really hard to tell why this happens without more information. Could be malformed TNEF, or tnefparse not knowing that valid shorter structure is a possibility here.

[2020-06-19 11:05] Sam-Gracy commented on #68
I am closing this issue, since I am not able to provide the winmail.dat

[2020-06-19 11:05] #68 closed

[2020-07-02 04:28] Sam-Gracy opened #70 "How to recognise inline attachment"
Hi,

Using this library I am able to extract all the attachments from winmail.dat. I have a challenge to differentiate inline attachments (Inline attachment usually is an attachment that we can see directly within the email message body ) and normal attachments.

Is there a way that I can recognize the inline attachments? Could you please help me with that

Many Thanks,
Suresh.

[2020-07-02 07:10] jugmac00 commented on #70
Hi Suresh,

while we both have to wait for @petri for a definitive answer, as far as I know, in "normal" HTML emails, the difference between inline and "attached" attachment is only a reference to the attachment in the HTML content.

So, if you have access to an example, you could open it with `tnefparse` and have a look at the `body` or `htmlbody` attributes and search for a reference of the atta

[2020-07-02 16:56] petri commented on #70
@Sam-Gracy to be honest, I have no idea except to echo what @jugmac00 already suggested. Perhaps https://stackoverflow.com/questions/30351465/html-email-with-inline-attachments-and-non-inline-attachments might help you out?

Re generating winmail.dat ... I thought that'd be the way, too, @jugmac00 ... I when you tried, did you actually format the message content as well? Seems MS products have det

[2020-07-03 07:33] Sam-Gracy commented on #70
Thank you so much for your suggestions @jugmac00 & @petri. I'll try the suggested scenarios and get back to you. So that it may be helpful for others.

Many Thanks,
Suresh

[2020-07-03 07:33] #70 closed

[2020-07-03 14:37] petri commented on #57
@jugmac00 do you want to add something before we cut a release, or have something new as part of release process? I've usually just generated source & wheel dists & uploaded to PyPI.

[2020-07-03 15:43] jugmac00 commented on #57
@petri There is not much too add - maybe except a `MANIFEST` change - see below.

We only have two open issues, the release :dancers: itself and adding typing.

Having typed three projects lately (two from scratch, and one had to be fixed + converted from type comments to type annotations), I can say...
- there are type comments to type annotations converters, which work okish -> so better start t

[2020-07-03 15:50] jugmac00 commented on #57
PR see #72

[2020-07-21 05:56] Sam-Gracy commented on #70
Hi @petri

Is there a way that I can get the content_id, content_disposition of the attachments that were extracted from winmail.dat?
Like, we can get the attachment name a.name, is there a field where we have attachment content-id?

Could you please help me with this?

[2020-07-21 12:32] petri commented on #70
Sorry, no. I have no idea. And if you have new, different questions, please open a new ticket rather than re-using another closed ticket.

[2020-07-21 14:11] Sam-Gracy commented on #70
sure, thank you

[2020-07-22 08:55] Sam-Gracy opened #73 "unable to extract content from winmail.dat (Mail is a read receipt)"
Hi @petri ,

I am trying to get the mailbody of a read receipt by parsing the winmail.dat file, but I am not able to get it from tnefparse.

This is the code I am using ...
[code]
Attached the winmail.dat file for your reference. Could you please help me to check what is the issue?

Note: I am able to get the body of a delivery report email without any issue using the tnefparse.

Many Thanks,
Sure

[2020-07-23 11:17] Sam-Gracy commented on #73
Hi @petri ,

Could you please help me to have a look into the issue

**Many Thanks,
Suresh.**

[2020-07-24 17:43] jugmac00 commented on #73
Suresh, are you sure there is a body?

From the bit I read it looks like as if there are possibly only some headers set. And probably each mail client or server is able to do whatever it likes to do.

If this is an important topic for you (and @petri does not know more about it), I'd recommend to read the RFCs.

This looks also interesting:
https://www.limilabs.com/blog/creating-read-receipt-mdn

[2020-07-25 05:35] Sam-Gracy commented on #73
Hi,

Thanks a lot for sharing the valuable rfc information.

**Suresh, are you sure there is a body?** --> Yes, when I give the email(eml) file to Outlook, it is displaying the read receipt properly. Since the MIME content type is TNEF, mailbody/attachments are embedded in winmail.dat. That is why I have shared the sample winmail.dat for your reference purpose.

Will share the eml file as well if

[2020-07-25 07:54] jugmac00 commented on #73
Could you provide a screenshot of the read receipt?

Is the text (body) you see there something the other email contact actively wrote? Or is it something auto-generated by Outlook? Maybe from the header information?

Also, yep, it would help if you provide the `.eml` file too.

I cannot promise anything, but I will certainly have a look.

[2020-07-25 08:33] Sam-Gracy commented on #73
Hi,

This how it displays when I open the eml using outlook

![image](https://user-images.githubusercontent.com/65759805/88452805-5f1b1400-ce7f-11ea-8114-2f3ee45896cf.png)

[ReadReceipt_EML&Winmail.zip](https://github.com/koodaamo/tnefparse/files/4975092/ReadReceipt_EML.Winmail.zip)

This read receipt is generated by outlook/exchange since I requested a read receipt while composing the email. Plea

[2020-07-27 16:00] jugmac00 commented on #73
Unfortunately, I have no time to investigate deeper in the next days, but from a quick look at the screenshot I think it is possible that there is no body at all. I assume Outlook is generating this text from the headers. e.g. when I open the same message in Thunderbird, I do not see this text.

[2020-07-28 06:55] Sam-Gracy commented on #73
Thank you for your analysis, I am also continuously trying to find a way to parse this kind of emails.

[2020-07-28 10:46] petri commented on #73
@Sam-Gracy have you tried dumping the contents of the tnef file to see what it's made of? `tnefparse -h` will tell you how.

You will see that there are no "attachments" ie. no mail bodies. Take a look at the dump, ie. the various MAPI_* properties that it shows and do some reading on those that seem to you to be related to the read receipt.

[2020-07-31 04:46] Sam-Gracy commented on #73
@petri
I have gone through those values, but I didn't understand much about those values. i am closing this ticket - Thanks for your help.

[2020-08-06 13:23] Sam-Gracy commented on #73
Hi @jugmac00,

I can see that this header has some information, how to decode this information

X-MS-Exchange-Forest-IndexAgent-0: AQ0CZW4AAX4DAAAPAAADH4sIAAAAAAAEAIVU227bOBBlElu3rPcXdu
 qnBkjth74FbYHsBehDigJNuot9KiiJioTQokBS0fpv/B9984fst+wh
 abkq2nQBQRZnzsycOTP0v+mvWypFxXtpL0k27YOhoZGSeNcJrokbqp
 SUajDUtMThyDUOQpurRXbdUt8+NqaxovSx1BhYSqFxgIm3JeWyF0DS
 /8C6XndS+JS8sM2jeAqoRbnI7pruar+78WwL3pKqqFC9N

[2020-08-06 14:00] jugmac00 commented on #73
@Sam-Gracy I am sorry, I tried but I think I cannot help you much with your question.

This looks like base64 encoded data, but I cannot figure out which encoding - maybe it is just bytes; I am not familiar with this header.

This is how far I got...

[code]

And I received this...

Scroll to the end, it looks like there is an XML embedded.

[code]

[2020-08-06 15:02] Sam-Gracy commented on #73
Thank you for your help and sorry to bother you :)

[2020-08-06 15:02] #73 closed

[2020-09-29 22:25] petri commented on #57
Released.

[2020-09-29 22:25] #57 closed

[2020-10-27 18:12] albrechtd opened #74 "Extract MAPI_ATTACH_METHOD == 5 parts?"
I got a few (malicious) messages with `winmail.dat` attachments which `tnefparse` cannot extract.  The JSON dump produced by it contains, inter alia
[code]
However, the part is ~170 kBytes, and running `unzip` on it extracts at least parts parts of a (malware) M$ Office document starting at offset ~32 kBytes.
I found a note that MAPI attach method 5 indicates a “message”, whatever this means in th

[2020-11-02 18:48] petri commented on #74
Could you provide a link to the note you found please?

[2020-11-03 16:18] albrechtd commented on #74
I found this information: http://www.mimekit.net/docs/html/T_MimeKit_Tnef_TnefAttachMethod.htm – unfortunately, there are no references where these constants are actually specified.  However, as the author has a microsoft.com email address, this *might* be an indication that he has more information than available to the public…

Umm, sorry, my description was somewhat short…

The file I try to ope

[2020-11-08 13:43] jugmac00 opened #75 "Drop support for Python 2.7 (and 3.5)"
The build currently breaks on Python 2.7, as a transitive dep is no longer Python 2.7 compatible.

While we could pin the dependency, maybe it is about time to move forward?

[2020-11-08 13:46] jugmac00 opened #76 "travis-ci.org shuts down at the end of the year"
Repositories must be migrated to travis-ci.com

As only owners can do this...

Please
- log in to travis-ci.com
- go to settings
- (for organizations you need to select the org name, for private accounts I am not sure)
- hit the migrate tab
- select repos an migrate them

Maybe you need click "sign up for beta" button first.

[2020-11-22 15:28] petri commented on #75
Yes, why not. Anyone needing Python2 support will be able to just use 1.3.1.

[2020-11-22 16:06] petri commented on #76
done.

[2020-11-22 16:06] #76 closed

[2020-11-22 16:10] petri commented on #75
Builds pass again. Metadata, build configs and docs changed to indicate Python3 only status from now on. There's things we still could & should do I am sure so not closing this yet.

But since some badges use pypi as a source of truth, should preferably push a release sooner rather than later.

[2020-11-22 16:54] jugmac00 commented on #75
I have a bit of spare time tomorrow. I will look into this. Also, I'd like to run https://github.com/asottile/pyupgrade on the source code.

What is your take on support for Python 3.5? It is EOL since September. Python 3.6 brought f-strings, and also typing (#50) is more convenient with Python 3.6+ as then type annotations for variables were introduced.

[2020-11-22 19:00] petri commented on #75
I would say let's require 3.6+ while we're at it.

[2020-11-22 20:59] petri opened #80 "Support Python 3.9"
Just ran tox -e py39 without issues. Should be a matter of adding metadata, documenting and including in builds.

[2020-11-22 21:04] jugmac00 commented on #80
I will do this with my ongoing PR.

Before adding support for Python 3.9 here, I wanted to make sure the only dependency also works for Python 3.9, so I created a PR over there, first.

https://github.com/delimitry/compressed_rtf/pull/7

[2020-11-24 17:51] #75 closed

[2020-11-24 17:51] #80 closed

[2020-11-24 21:18] jugmac00 commented on #50
@jrideout Is this still something you would like to do?

Otherwise I'd like to type annotate the project.

Either way, thanks a lot for the hint about `pyannotate` - works like a charm.

[2020-11-25 09:08] jugmac00 opened #82 "ValueError has no attribute message"
`tnefparse/cmdline.py:68: error: "ValueError" has no attribute "message"`

This is Python 2 code.

The fix is easy -> use `str(e)` instead. The test is a bit more elaborate - when there is no suitable test file.

This bug was uncovered only now, as the line has no test coverage.

see https://github.com/koodaamo/tnefparse/blob/a9668efd84ecd0452436517e675bdf9654c2e8ba/tnefparse/cmdline.py#L64-L67

[2020-11-25 18:11] #82 closed

[2020-11-28 09:38] jugmac00 opened #92 "Raise test coverage to 100%"
While test coverage is already at a very good 93%, the PR #84 alone would have brought two regressions (changed log level + no more help text), as there are still some lines without coverage.

I suggest to fill the coverage gaps before continuing to work on the current open PRs.

[2020-11-28 14:14] petri opened #94 "TNEF.__str__ is broken"
[code]

[2020-11-28 14:34] petri opened #95 "remove deprecated util.raw_mapi"
Unused raw_mapi has been marked as deprecated after 1.3.

This will bring up test coverage (see #92) quite significantly too.

[2020-11-28 14:37] jugmac00 commented on #94
I have no access to a PC right now, but I will have a look this evening.

I wonder whether this regression was introduced by my "f-strings" commit, which was autogenerated by pyupgrade or whether this was broken before. Either way. I should have tested the change at least manually.

Anyway, afair `__str__` has no coverage. Yet another good reason to aim for 100% (#92 ).

[2020-11-28 16:39] jugmac00 commented on #95
closed by #96

[2020-11-28 16:39] #95 closed

[2020-11-28 17:07] jugmac00 commented on #94
**Note**
The `str` representation was broken for Python 3 from the beginning.

I checked out an older commit where Python 2.7 was still supported, so I had a chance to see what's a correct `str` representation should look like:

[code]

[2020-11-28 17:59] #94 closed

[2020-11-28 18:42] jugmac00 commented on #92
I tried to come up with a test for...
https://github.com/koodaamo/tnefparse/blob/d29d976e58c4faab789e6a47f726334b442a727a/tnefparse/util.py#L41-L47

I even wrote a helper to iterate over date/time ranges, but I found no value which fails for the try block and succeeds for the except block.

The change was introduced in https://github.com/koodaamo/tnefparse/pull/54/commits/be35566012772caf7cbf70c4c

[2020-11-28 22:19] petri commented on #92
I don't remember. But I bet this is related: https://stackoverflow.com/questions/10849717/what-is-the-significance-of-january-1-1601

[2020-11-29 00:29] Beercow commented on #92
It has to do with an error where microseconds are too large

http://statgen.us/files/software/seqpower/usr/local/lib/anaconda2/pkgs/pillow-3.1.1-py27_0/lib/python2.7/site-packages/PIL/OleFileIO.py

Thank you in advance,

Brian Maloney, GCIH, GCFE, GCFA

[2020-11-30 16:12] jugmac00 commented on #92
Hi @Beercow

thank you very much for getting back to me.

As you seem to have some more domain knowledge in this topic, could you give me a microsecond number which is too large, but fits the condition in the except branch?
[code]

As I wrote above, I did not find a number on my own.

Here is the complete code snippet:
https://github.com/koodaamo/tnefparse/blob/f81554d410a00c93c7713663baf17a0b7016

[2020-12-12 11:12] petri commented on #92
Maybe this is simply to overcome the fact that the max for python timestamps and dates is different? https://stackoverflow.com/questions/39153700/why-cant-pythons-datetime-max-survive-a-round-trip-through-timestamp-fromtim

[2020-12-12 14:03] Beercow commented on #92
Unfortunately, I do not have the file I was working with anymore. Trying to find one that brings up the error.

[2020-12-13 18:12] jugmac00 opened #98 "deprecation warning"
e.g. run `tox - e py38`

[code]

[2020-12-13 18:32] 1nF0rmed commented on #98
Hey!
Do you want to update the tests to use a TNEF object instead of passing bytes?

[2020-12-13 18:37] jugmac00 commented on #98
Sounds like a good plan!

[2020-12-13 18:39] 1nF0rmed commented on #98
If no one is assigned this issue then I would like to work on this

[2020-12-13 18:41] jugmac00 commented on #98
Sure, go ahead!

[2020-12-13 18:41] jugmac00 commented on #98
Do not forget to add yourself to `HISTORY.rst`.

[2020-12-13 19:25] 1nF0rmed commented on #98
I've made a PR with the fix. Let me know if you have any questions

[2020-12-13 20:57] jugmac00 commented on #98
Hi @1nF0rmed,

I am very sorry - I made a mistake.

I had another look at the code, and we have to keep the deprecated way,
otherwise we loose test coverage.

In other words:
We have deprecated passing in bytes, but for some more time, we have to
support it, and so we have to test this behavior.

Currently, every test run shows a deprecation warning, which is not what
I'd like to see.

But luckily

[2020-12-13 21:16] jugmac00 commented on #98
x

[2020-12-14 01:10] 1nF0rmed commented on #98
Hey,
I was confused as well when I saw the test coverage drop. Will be updating this to use the warning capture instead.

[2020-12-14 01:25] 1nF0rmed commented on #98
Hey @jugmac00,
I've updated the pull request #99
 Let me know if you have any questions.

[2020-12-14 10:15] jugmac00 commented on #98
Thank you!

fixed by #99

[2020-12-14 10:15] #98 closed

[2020-12-18 22:04] jrideout commented on #74
@albrechtd can you post the winmail.dat file somewhere so we can investigate?

[2021-01-14 03:41] RossPatterson commented on #74
I have a similar case, but instead of malicious code, what was sent was an Outlook distribution list (an IPM.DistList).  `tnefparse -d filename` shows the attachment, but `tnefparse -a filename` gets an odd error:

[code]

`a.data` has somehow become a single-element array.  The actual attachment appears to be in `a.data[0]`

The original file is safe to share (it's not malicious), so I can post i

[2021-01-14 15:17] jrideout commented on #74
@RossPatterson thanks, can you create a PR adding the file to https://github.com/koodaamo/tnefparse/tree/master/tests/examples ?

[2021-01-19 02:27] RossPatterson commented on #74
Done.  Please merge.

Ross

On Thu, Jan 14, 2021 at 10:17 AM Jacob Rideout <notifications@github.com>
wrote:

[2021-01-20 17:09] jrideout commented on #74
We'll track the fix in https://github.com/koodaamo/tnefparse/pull/101

[2021-01-20 22:37] jrideout commented on #74
@albrechtd Can you please test your file with the code from this branch #101 ?  The json dump should give you the details of the embedded message.

[2021-01-20 22:38] jrideout commented on #50
@jugmac00 Please go-ahead, I'm not actively working on the typing

[2021-01-20 23:01] RossPatterson commented on #74
The #101 branch code successfully dumps and extracts the un-redacted
distribution list from my case.  Attempting to dump the extracted
IPM.DistList attachment (via tnefparse -d "Unititled Attachment") gets "Wrong
TNEF signature: 0x00020307", but that might be the correct behavior - I
have no idea if that file is TNEF, or some other format.

Ross

On Wed, Jan 20, 2021 at 5:37 PM Jacob Rideout <noti

[2021-01-20 23:52] jrideout commented on #74
The first 16 bytes are extra metadata defining the "interface" of the file. Presuming they match the magic numbers for a "message interface," then you can presume the remaining data in the file is a valid tnef.

What do you suggest the behavior be for extracting the attachment? Should we just strip the first 16 bytes? This is what I'm doing for the json dump case. The tradeoff is that you are losi

[2021-01-21 00:15] #74 closed

[2021-01-22 13:57] jugmac00 commented on #50
Currently, I have not much spare time, but I am looking forward to type this project - I will learn a lot, I guess :-)

[2021-01-22 16:36] jrideout opened #107 "Switch to github actions over travis"
We are doing builds in both places now. Should we just use github instead?

[2021-01-22 17:16] jrideout opened #108 "Release 1.4"
We have a bunch of changes ready to go for 1.4. Should anything else be included, or are we ready to ship?

[2021-01-22 17:26] jugmac00 commented on #107
Travis does no longer support open source projects, but only gave one time 10000 credits (or build minutes), and once they are used up, you are on a mission impossible to get new credits.

Looks like all other open source projects I know go with GitHub Actions.

I see no reason to use Travis CI any longer.

[2021-01-22 17:28] jugmac00 commented on #107
Working on  a PR to remove it.

[2021-01-22 17:36] albrechtd commented on #74
Hi,
first, I think I should apologise for not posting my sample – an inspection of the included malware doc revealed that is was actually an Emotet file.  This campaign is known for re-using stolen messages for “fake” replies.  Therefore, I asked the recipient for permission for sharing the attachment, and she declined as the feared that private information would be publicly available on the inter

[2021-01-22 17:49] #107 closed

[2021-01-22 17:49] jugmac00 commented on #108
Maybe you could review #109 and then we are good to go imho.

[2021-01-22 17:51] jrideout opened #110 "Add code coverage to github actions CI build"
Regression from travis ci build

[2021-01-22 17:52] jrideout opened #111 "Add pypy3 to github ci build matrix"
Regression from travis ci build

[2021-01-22 18:12] jugmac00 commented on #110
Until now I only used coveralls with GitHub Actions (which is quite flaky).

Here is a blog post about integrating codecov
https://hynek.me/articles/python-github-actions/

If nobody steps up I will give it a stab probably on the weekend.

[2021-01-22 18:19] #111 closed

[2021-01-22 18:21] #110 closed

[2021-01-23 00:44] jrideout commented on #108
@petri I'd be happy to upload to pypi if you want to add me to the package. My username on pypi.org is `jacobrideout`

[2021-01-23 13:14] petri commented on #108
Ok I'll cut a release, probably tomorrow or Monday.

[2021-01-24 11:22] petri commented on #108
Will upload to PyPi later today. [1.4.0](https://github.com/koodaamo/tnefparse/tree/1.4.0) tagged. Master is back to dev.

[2021-01-24 21:44] petri commented on #108
Done https://pypi.org/project/tnefparse/1.4.0/

[2021-01-24 21:44] #108 closed

[2021-02-03 22:04] pasikarkkainen opened #115 "converting winmail.dat tnef mapi calender invitation to .ics file"
First of all thanks a lot for tnefparse, it rocks! It seems to be the only opensource util/library that has so far managed to parse this winmail.dat file I have here..

My question is: are there any plans to support generating .ics files from winmail.dat MAPI calender invitations? For example MS Exchange 2010 seems to send such winmail.dat files (and some organizations still seem to use such an ol

[2021-02-04 16:14] petri commented on #115
Thanks for the compliments, good to hear. The scope of tnefparse is just that - parsing. Is there something more that it should be able to parse, maybe somehow better, to support your use case of converting to .ics ? (nice idea btw)

[2021-02-05 17:58] jrideout commented on #115
The relevant MS doc seems to be [MS-OXCICAL](https://docs.microsoft.com/en-us/openspecs/exchange_server_protocols/ms-oxcical/a685a040-5b69-4c84-b084-795113fb4012). Though it describes how to convert ical to mapi/tnef, I suspect one could use the same reference for the reverse operation. At a glance, that we may not parse looks like the recipient tracking/reply information.

[2021-06-01 11:50] santoshghimire opened #117 "htmlbody for Hebrew text (iso-8859-8-i encoding) is incorrect"
[iso-8859-8-i.LOG](https://github.com/koodaamo/tnefparse/files/6575939/iso-8859-8-i.LOG)

The htmlbody of a tnefobject containing `Hebrew` text (**iso-8859-8-i encoding**) is incorrect. Attached is an email example **iso-8859-8-i.LOG** [LOG extension only because github does not allow eml] to demonstrate the issue.

[code]

This seems wrongly decoded while constructing the `htmlbody` as the part i

[2022-02-17 02:13] aniude opened #120 "UnicodeDecodeError: 'gbk' codec can't decode byte 0xba in position 14: illegal multibyte sequence"
I run tnefparse in command line with debug mode:
tnefparse winmail.dat -l DEBUG

[code]

It seems like the encoding charset is wrong,  is that anyway to set the charset as parameter?

[2022-03-02 21:25] jrideout commented on #120
You can have different codecs nested in different parts of the document. We could probably have a universal override but that probably cause other problems.

[2022-03-02 21:27] jrideout commented on #120
@aniude are you able to share an example tnef that generates this error?

[2022-06-08 01:22] timtomch commented on #115
I had the same issue and it was driving me nuts, so I wrote a short script using tnefparse to extract the calendar invitation data to an .ics file: https://github.com/timtomch/tnef2ics/

Maybe if I figure out how to do it I will do a PR to have this functionality added to the tnefparse command-line tool.